* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 5%;
    justify-content: center;
    gap: 10%;
}

.mainPane {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    border: 10px solid gray;
}

.row {
    display: flex;
    justify-content: center;
}

.sidePanel {
    display: flex;
    width: 20%;
    align-items: center;
    flex-direction: column;
}

.setColor {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid rgb(43, 43, 43);
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.black {
    background-color: #000;
}

.buttonArray {
    height: 75px;
}

.buttons {
    width: 300px;
}

.setColor:hover {
    border: 3px solid #000;
    width: 50px;
    height: 50px;
}

.settingsPane {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gridToggle {
    display: flex;
    width: 200px;
}

.btn {
    width: 100%;
    height: 30px;
}

.footer {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

abbr {
    text-decoration: none;
}